# Node.js
node_modules/

# Arquivos gerados pelo PNPM
.pnpm-store/
.pnpm-workspace.yaml

# Arquivos de compilação TypeScript
dist/

# Arquivos de ambiente
.env
.env.local
.env.development
.env.test
.env.production

# Logs e saída de teste
*.log
logs/
coverage/

# Arquivos de build e produção
build/
out/

# Arquivos de dependências do Visual Studio Code
.vscode/

# Arquivos temporários
*.tmp
*.swp

# Arquivos de sistema
.DS_Store

# Arquivos de configuração do projeto local
config/local.js
