/* Reset CSS */

/* Definindo uma margem e preenchimento padrão como zero para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Removendo decoração de link (sublinhado) */
a {
  text-decoration: none;
}

/* Definindo fonte padrão para garantir consistência */
body {
  font-family: Arial, sans-serif;
}

/* Outras regras de reset, se necessário */

/* Fim do Reset CSS */
